In [1]:
import pandas as pd
import numpy as np

pd.set_option("display.max_rows", 200)
pd.set_option("display.max_columns", 200)
pd.set_option("display.width", 1200)

print("Notebook ready.")

Notebook ready.

In [2]:
import pandas as pd

print("üìï Loading BG raw...")

bg_raw = pd.read_excel("data/BG_Transaccions.xlsx",skiprows=7, header=0)

print("Shape:", bg_raw.shape)
bg_raw.head(30)

üìï Loading BG raw...
Shape: (1000, 9)

c:\Users\leodo\OneDrive\Escritorio\RAG\Rag_My_Version\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

                 Fecha  Unnamed: 1  Referencia  Transacci√≥n                                        Descripci√≥n  D√©bito  Cr√©dito  Unnamed: 7  Saldo total
0  2025-11-26 13:00:08         NaN           0          264            ESTANCO ITURRAMA 37-4187-94XX-XXXX-0407  -24.40      NaN         NaN        38.98
1  2025-11-26 13:00:08         NaN           0          264                 PRIMAPRIX T197-4187-94XX-XXXX-0407   -7.37      NaN         NaN        63.38
2  2025-11-26 13:00:08         NaN           0          264           SODEXO CORNER AMIGOS-4187-94XX-XXXX-0407   -1.78      NaN         NaN        70.75
3  2025-11-25 13:00:08         NaN           0          264                        SPOTIFY-4187-94XX-XXXX-0407   -6.99      NaN         NaN        72.53
4  2025-11-25 13:00:08         NaN           0          264         EROSKI CENTER ITURRAMA-4187-94XX-XXXX-0407  -50.05      NaN         NaN        79.52
5  2025-11-24 13:00:08         NaN           0          253          YAPPY BG DE ANA VICTORIA SANCHEZ CASTILLO     NaN     10.0         NaN       129.57
6  2025-11-24 13:00:08         NaN           0          264           YAPPY BG A ANA VICTORIA SANCHEZ CASTILLO -180.00      NaN         NaN       119.57
7  2025-11-24 13:00:08         NaN           0          300  BANCA MOVIL TRANSFERENCIA DE 0472968590622 LEO...     NaN    200.0         NaN       299.57
8  2025-11-24 13:00:08         NaN           0          264                      MACCHIATO-4187-94XX-XXXX-0407   -4.64      NaN         NaN        99.57
9  2025-11-24 13:00:08         NaN           0          264         GO KALEAN AREPAS Y TEQ-4187-94XX-XXXX-0407  -41.88      NaN         NaN       104.21
10 2025-11-24 13:00:08         NaN           0          264         NYX ABServiciosSelecta-4187-94XX-XXXX-0407   -1.31      NaN         NaN       146.09
11 2025-11-24 13:00:08         NaN           0          264                      AIREUROPA-4187-94XX-XXXX-0407 -195.38      NaN         NaN       147.40
12 2025-11-24 13:00:08         NaN           0          300  BANCA MOVIL TRANSFERENCIA DE 0472968590622 LEO...     NaN     25.0         NaN       342.78
13 2025-11-23 13:00:08         NaN           0          264       YAPPY BG A GILBERTO ANTONIO GONZALEZ FRANCIS   -1.50      NaN         NaN       317.78
14 2025-11-23 13:00:08         NaN           0          300  BANCA MOVIL TRANSFERENCIA DE 0472968590622 LEO...     NaN     25.0         NaN       319.28
15 2025-11-22 13:00:08         NaN           0          300  BANCA MOVIL TRANSFERENCIA DE 0472968590622 LEO...     NaN     50.0         NaN       294.28
16 2025-11-22 13:00:08         NaN           0          264                  VEGGIE STUDIO-4187-94XX-XXXX-0407   -4.66      NaN         NaN       244.28
17 2025-11-22 13:00:08         NaN           0          264          EROSKI CENTER SERAFIN-4187-94XX-XXXX-0407  -11.58      NaN         NaN       248.94
18 2025-11-22 13:00:08         NaN           0          264         AMZN Mktp ES Z33353Q04-4187-94XX-XXXX-0407  -10.62      NaN         NaN       260.52
19 2025-11-22 13:00:08         NaN           0          264           SODEXO CORNER AMIGOS-4187-94XX-XXXX-0407   -3.82      NaN         NaN       271.14
20 2025-11-21 13:00:08         NaN           0          264               ISPA NEO TABERNA-4187-94XX-XXXX-0407   -4.54      NaN         NaN       274.96
21 2025-11-21 13:00:08         NaN           0          264                 PRIMAPRIX T197-4187-94XX-XXXX-0407  -46.94      NaN         NaN       279.50
22 2025-11-21 13:00:08         NaN           0          264         AMZN Mktp ES Z32II3PJ4-4187-94XX-XXXX-0407  -41.64      NaN         NaN       326.44
23 2025-11-21 13:00:08         NaN           0          264         AMZN Mktp ES Z38DJ7PV4-4187-94XX-XXXX-0407   -8.55      NaN         NaN       368.08
24 2025-11-21 13:00:08         NaN           0          264         AMZN Mktp ES Z35T01PY4-4187-94XX-XXXX-0407  -89.13      NaN         NaN       376.63
25 2025-11-21 13:00:08         NaN           0          264           SODEXO CORNER AMIGOS-4187-94XX-XXXX-0407   -3.82      NaN         NaN       465.76
26 2025-11-21 13:00:08         NaN           0          264          Ayuntamiento Pamplona-4187-94XX-XXXX-0407  -35.07      NaN         NaN       469.58
27 2025-11-20 13:00:08         NaN           0          264         NYX ABServiciosSelecta-4187-94XX-XXXX-0407   -0.90      NaN         NaN       504.65
28 2025-11-19 13:00:08         NaN           0          300  BANCA MOVIL TRANSFERENCIA DE 0472968590622 LEO...     NaN    100.0         NaN       505.55
29 2025-11-19 13:00:08         NaN           0          300  BANCA MOVIL TRANSFERENCIA DE 0472968590622 LEO...     NaN    200.0         NaN       405.55

In [3]:
bg = bg_raw.copy()

bg = bg.drop(columns=["Unnamed: 1", "Referencia","Transacci√≥n","Unnamed: 7","Saldo total"], errors="ignore")
bg.head()

                Fecha                                 Descripci√≥n  D√©bito  Cr√©dito
0 2025-11-26 13:00:08     ESTANCO ITURRAMA 37-4187-94XX-XXXX-0407  -24.40      NaN
1 2025-11-26 13:00:08          PRIMAPRIX T197-4187-94XX-XXXX-0407   -7.37      NaN
2 2025-11-26 13:00:08    SODEXO CORNER AMIGOS-4187-94XX-XXXX-0407   -1.78      NaN
3 2025-11-25 13:00:08                 SPOTIFY-4187-94XX-XXXX-0407   -6.99      NaN
4 2025-11-25 13:00:08  EROSKI CENTER ITURRAMA-4187-94XX-XXXX-0407  -50.05      NaN

In [ ]:
import pandas as pd

print("üìï Loading SD raw...")

sd_raw = pd.read_excel("data/SD_Transaccions.xlsx",skiprows=6, header=0)

print("Shape:", sd_raw.shape)
sd_raw.head(30)

In [ ]:
sd = sd_raw.copy()

sd = sd.drop(columns=["Saldo", "Fecha valor"], errors="ignore")
sd.head()

In [ ]:
import re

def clean_amount_raw(x):
    if pd.isna(x):
        return None
    x = str(x)
    x = x.replace("EUR", "").replace("‚Ç¨", "")
    x = x.replace("‚àí", "-")     # unicode minus ‚Üí standard minus
    x = x.replace(",", ".")     # comma ‚Üí dot
    x = x.strip()

    match = re.findall(r"-?\d+\.?\d*", x)
    return float(match[0]) if match else None

sd["Importe"] = sd["Importe"].apply(clean_amount_raw)
sd["Importe"] = pd.to_numeric(sd["Importe"], errors="coerce")

sd["Importe"].head()

In [ ]:
sd["Fecha operaci√≥n"] = pd.to_datetime(
    sd["Fecha operaci√≥n"],
    dayfirst=True,
    errors="coerce"
)
sd["Fecha operaci√≥n"].head()

In [ ]:
sd["Concepto"] = sd["Concepto"].astype(str).str.strip()
sd["Concepto"].head()

In [ ]:
sd["source"] = "SD"

In [ ]:
sd["Divisa"] = sd["Divisa"].astype(str).str.strip()

In [ ]:
sd.info()

In [5]:
df = pd.read_csv("data/Finance_Processed.csv")
df.head(20)

                   date                                        description  amount currency source  amount_signed     type  year  month month_name  dayofweek  cumulative_balance     auto_category                                           RAG_Text
0   2024-03-25 00:00:00  COMPRA NYX*ABServiciosSelecta, Pamplona, TARJE...   -0.70      EUR     SD          -0.70  expense  2024      3      March     Monday               -0.70             Otros  On 2024-03-25, a expense of 0.70 EUR at 'COMPR...
1   2024-03-26 00:00:00  COMPRA Zara.com, Arteixo, TARJETA 548901034953...  -29.90      EUR     SD         -29.90  expense  2024      3      March    Tuesday              -30.60       Moda / Ropa  On 2024-03-26, a expense of 29.90 EUR at 'COMP...
2   2024-03-28 00:00:00  BIZUM A FAVOR DE RODRIGO MARTINEZ REYNA CONCEP...   -3.50      EUR     SD          -3.50  expense  2024      3      March   Thursday              -34.10    Transferencias  On 2024-03-28, a expense of 3.50 EUR at 'BIZUM...
3   2024-04-03 00:00:00  BIZUM DE PABLO SALAZAR BRICENO CONCEPTO Sin co...   10.00      EUR     SD          10.00   income  2024      4      April  Wednesday              -24.10    Transferencias  On 2024-04-03, a income of 10.00 EUR at 'BIZUM...
4   2024-04-03 00:00:00  PAGO MOVIL EN ALIMENTACION LI, PAMPLONA, TARJ....   -4.35      EUR     SD          -4.35  expense  2024      4      April  Wednesday              -28.45             Otros  On 2024-04-03, a expense of 4.35 EUR at 'PAGO ...
5   2024-04-04 00:00:00  PAGO MOVIL EN BM ITURRAMA, PAMPLONA, TARJ. :*5...   -6.62      EUR     SD          -6.62  expense  2024      4      April   Thursday              -35.07      Supermercado  On 2024-04-04, a expense of 6.62 EUR at 'PAGO ...
6   2024-04-07 00:00:00  BIZUM DE PABLO SALAZAR BRICENO CONCEPTO Sin co...    5.00      EUR     SD           5.00   income  2024      4      April     Sunday              -30.07    Transferencias  On 2024-04-07, a income of 5.00 EUR at 'BIZUM ...
7   2024-04-08 00:00:00  PAGO MOVIL EN ALIMENTACION LI, PAMPLONA, TARJ....   -3.00      EUR     SD          -3.00  expense  2024      4      April     Monday              -33.07             Otros  On 2024-04-08, a expense of 3.00 EUR at 'PAGO ...
8   2024-04-12 00:00:00  COMPRA APPLE.COM/BILL, ITUNES.COM, TARJETA 548...   -1.99      EUR     SD          -1.99  expense  2024      4      April     Friday              -35.06     Suscripciones  On 2024-04-12, a expense of 1.99 EUR at 'COMPR...
9   2024-04-13 00:00:00  BIZUM DE PABLO SALAZAR BRICENO CONCEPTO Sin co...    4.00      EUR     SD           4.00   income  2024      4      April   Saturday              -31.06    Transferencias  On 2024-04-13, a income of 4.00 EUR at 'BIZUM ...
10  2024-04-13 00:00:00  PAGO MOVIL EN ALIMENTACION LI, PAMPLONA, TARJ....   -4.10      EUR     SD          -4.10  expense  2024      4      April   Saturday              -35.16             Otros  On 2024-04-13, a expense of 4.10 EUR at 'PAGO ...
11  2024-04-18 00:00:00  BIZUM DE JOSE DIEGO MONGE SAN MARTIN CONCEPTO ...    8.00      EUR     SD           8.00   income  2024      4      April   Thursday              -27.16    Transferencias  On 2024-04-18, a income of 8.00 EUR at 'BIZUM ...
12  2024-05-01 00:00:00  BIZUM A FAVOR DE PABLO GIRALDO BOTERO CONCEPTO...   -6.00      EUR     SD          -6.00  expense  2024      5        May  Wednesday              -33.16    Transferencias  On 2024-05-01, a expense of 6.00 EUR at 'BIZUM...
13  2024-05-01 00:00:00  BIZUM DE PABLO SALAZAR BRICENO CONCEPTO Sin co...    6.00      EUR     SD           6.00   income  2024      5        May  Wednesday              -27.16    Transferencias  On 2024-05-01, a income of 6.00 EUR at 'BIZUM ...
14  2024-05-02 00:00:00  PAGO MOVIL EN ESTANCO 48, PAMPLONA, TARJ. :*53...   -5.95      EUR     SD          -5.95  expense  2024      5        May   Thursday              -33.11             Otros  On 2024-05-02, a expense of 5.95 EUR at 'PAGO ...
15  2024-05-03 00:00:00  BIZUM A FAVOR DE PABLO SALAZAR BRICENO CONCEPT...   -1.00      EUR     SD          -1.00  expense  2024      5        May     Friday              -34.11    Transferencias  On 2024-05-03, a expense of 1.00 EUR at 'BIZUM...
16  2024-05-16 00:00:00  TRANSFERENCIA DE Federico Diego Silva, CONCEPT...  100.00      EUR     SD         100.00   income  2024      5        May   Thursday               65.89    Transferencias  On 2024-05-16, a income of 100.00 EUR at 'TRAN...
17  2024-05-17 00:00:00  PAGO MOVIL EN ESTANCO 48, PAMPLONA, TARJ. :*53...  -15.00      EUR     SD         -15.00  expense  2024      5        May     Friday               50.89             Otros  On 2024-05-17, a expense of 15.00 EUR at 'PAGO...
18  2024-05-17 00:00:00  PAGO MOVIL EN PELUQUERIA ITUR, PAMPLONA, TARJ....   -9.00      EUR     SD          -9.00  expense  2024      5        May     Friday               41.89  Cuidado Personal  On 2024-05-17, a expense of 9.00 EUR at 'PAGO ...
19  2024-05-18 00:00:00  PAGO MOVIL EN MACCHIATO, PAMPLONA, TARJ. :*534717   -9.70      EUR     SD          -9.70  expense  2024      5        May   Saturday               32.19     Bares / Caf√©s  On 2024-05-18, a expense of 9.70 EUR at 'PAGO ...

In [6]:
df.describe(include='all')

                       date                                 description       amount currency source  amount_signed     type         year        month month_name dayofweek  cumulative_balance auto_category                                           RAG_Text
count                  1125                                        1125  1125.000000     1125   1125    1125.000000     1125  1125.000000  1125.000000       1125      1125         1125.000000          1125                                               1125
unique                  340                                         365          NaN        1      2            NaN        2          NaN          NaN         12         7                 NaN            14                                               1100
top     2025-01-02 13:00:10  NYX ABServiciosSelecta-4187-94XX-XXXX-0407          NaN      EUR     BG            NaN  expense          NaN          NaN  September   Tuesday                 NaN         Otros  On 2025-07-21, a income of 40.70 EUR at 'BANCA...
freq                     13                                         134          NaN     1125   1000            NaN      955          NaN          NaN        125       225                 NaN           530                                                  3
mean                    NaN                                         NaN    -0.096400      NaN    NaN      -0.096400      NaN  2024.936889     6.323556        NaN       NaN           -1.037766           NaN                                                NaN
std                     NaN                                         NaN    90.269763      NaN    NaN      90.269763      NaN     0.243271     3.330308        NaN       NaN          189.454172           NaN                                                NaN
min                     NaN                                         NaN  -965.483949      NaN    NaN    -965.483949      NaN  2024.000000     1.000000        NaN       NaN         -654.704741           NaN                                                NaN
25%                     NaN                                         NaN    -9.922858      NaN    NaN      -9.922858      NaN  2025.000000     3.000000        NaN       NaN         -115.331276           NaN                                                NaN
50%                     NaN                                         NaN    -3.329190      NaN    NaN      -3.329190      NaN  2025.000000     7.000000        NaN       NaN          -64.681276           NaN                                                NaN
75%                     NaN                                         NaN    -0.901653      NaN    NaN      -0.901653      NaN  2025.000000     9.000000        NaN       NaN           37.202764           NaN                                                NaN
max                     NaN                                         NaN   966.261374      NaN    NaN     966.261374      NaN  2025.000000    12.000000        NaN       NaN          819.527702           NaN                                                NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                1125 non-null   object
 1   description         1125 non-null   object
 2   amount              1125 non-null   float64
 3   currency            1125 non-null   object
 4   source              1125 non-null   object
 5   amount_signed       1125 non-null   float64
 6   type                1125 non-null   object
 7   year                1125 non-null   int64
 8   month               1125 non-null   int64
 9   month_name          1125 non-null   object
 10  dayofweek           1125 non-null   object
 11  cumulative_balance  1125 non-null   float64
 12  auto_category       1125 non-null   object
 13  RAG_Text            1125 non-null   object
dtypes: float64(3), int64(2), object(9)
memory usage: 123.2+ KB